body {
  background-color: #83A2FF;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* .search_place {
  border: 2px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
} */
.main_parent {
  width: 700px;
  margin-left: 500px;
  margin-top: 100px;
  padding-bottom: 10px;
  border-radius: 20px;
  background-color: #83A2FF;
}
.add_input {
  border: 2px solid ;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
}
.input_1 {
  width: 200px;
  height: 20px;
}
.btn {
  background: #5E5DF0;
  border-radius: 999px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 18px;
  font-weight: 500;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: none;
  margin-right: 20px;
  margin-left: 10px;
}
.text_item {
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  margin-right: 20px;
}
.text_item.clicked {
  text-decoration: line-through;
}
.clicked {
  text-decoration: line-through;
  color: gray;
}
.btn:hover {
  background-color: #0056b3;
}
.update-btn {
  margin: 12px;
}

.testCommit{
  color: #282c34;
}
